page-cart {
  h3 {
    margin: 0;
    padding: 0;
    font-size: 1.9rem;
  }
  p {
    margin: 0;
    padding: 0;
  }

  .unitPrice {
    color: #ff0000;
  }
  .qty {
    color: #341b7f;
  }
  .totalPrice {
    color: #3676ff;
  }

}
